    <div class="jumbotron">
        <h1 class="jumbo-title display-4">News</h1>
        <p class="lead">Click the headlines button to read todays headline news!.</p>
        <hr class="my-4">
    </div>